.hotdeal-main {
  width: 100%;
  .hotdeal-banner {
    width: 100%;
    h2 {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #a491b6;
      > img {
        object-fit: cover;
      }
    }
  }
  .hotdeal-list-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px 0;
    > ul {
      max-width: 1200px;
      display: grid;
      gap: 50px 30px;
      grid-template-columns: repeat(4, 1fr);
      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid;
        }
        .price-box {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}
