@use "./_common/_variable";

.bestBrand {

  .default-slider {
    margin-top: 30px;
    padding: 30px;

    border-radius: 10px;
    background-color: #f1f1f1;

    .brand-slider-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 207px;
      background-color: #fff;

      border-radius: 10px;
      border: solid 1px #e1e1e1;

      img {
        width: 207px;
        object-fit: contain;
      }
      .brand-title {
        padding-bottom: 25px;
      }
    }
  }
}
