.faq{
  width: 100%;

  h3{
    display:none;
  }
}

.faq-nav{
  padding: 30px 0 25px 24px;
  border-bottom: 1px solid #dfdfdf;
  overflow-x: auto;
  div{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;

    a{
      display: block;
      padding: 8px 18px;
      margin-right: 8px;
      background: #f1f1f1;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #666;
      line-height: 15px;
      letter-spacing: -.7px;
      white-space: nowrap;

      &.on{
        background: #0071e3;
        color: #fff;
      }
    }
  }
}

.faqList-item{
  padding: 0 24px;
  border-bottom: 1px solid #dfdfdf;
  
  button{
    display:block;
    position: relative;
    width: 100%;
    padding: 30px 24px;
    text-align: left;

    .q-mark{
      position: absolute;
      top: 27px;
      left: 0;
      font-family: roboto, sans-serif;
      font-size: 21px;
      font-weight: 700;
      line-height: 20px;
      color: #0071e3;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 9px;
      height: 5px;
      margin-top: -3px;
      background: url("/asset/icons/ico_arw_down.png") no-repeat 0 0 / 9px 5px;
    }
  }

  button.on + article{
    display: block;
  }

  article{
    display:none;
    padding: 0 0 30px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
  }
}

@media (min-width: 900px) {
  .faq{
    width: 100%;

    h3{
      display:block;
      padding: 70px 0 10px;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
    }
  }

  .faq-nav{
    padding: 0;
    border-bottom: none;
    overflow-y: hidden;
    overflow-x: auto;

    div{
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      box-sizing: border-box;

      a{
        width: 172px;
        height: 45px;
        padding: 0;
        margin-right: 0;
        background: none;
        border-radius: 0;
        line-height: 45px;
        text-align: center;
        border: 1px solid #e1e1e1;
        font-size: 16px;
        font-weight: 400;
        color: #666;

        &.on{
          border: unset;
        }
      }
    }
  }

  .faqList-item{
    padding: 0 24px;
    border-bottom: 1px solid #dfdfdf;
    
    button{
      display:block;
      position: relative;
      width: 100%;
      padding: 30px 24px;
      text-align: left;

      .q-mark{
        position: absolute;
        top: 27px;
        left: 0;
        font-family: roboto, sans-serif;
        font-size: 21px;
        font-weight: 700;
        line-height: 20px;
        color: #0071e3;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 9px;
        height: 5px;
        margin-top: -3px;
        background: url("/asset/icons/ico_arw_down.png") no-repeat 0 0 / 9px 5px;
      }
    }

    button.on + article{
      display: block;
    }
    
    article{
      display:none;
      padding: 0 0 30px;
      font-size: 14px;
      color: #666;
      line-height: 20px;
      letter-spacing: -.3px;
    }
  }

}