.hotdeal-item {
  width: 262px;
  cursor: pointer;
  border: none;

  .image-box {
    width: 250px;
    height: 250px;
    border-radius: 10px;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    display: -webkit-box;
    overflow: hidden;

    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #1d1d1d;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .info-box {
    display: flex;
    align-items: flex-end;

    .percent {
      text-align: left;
      font-family: "Roboto";
      font-size: 32px;
      font-weight: 700;
      line-height: 1.26;
      color: #dd3729;
      opacity: 0.8;
    }

    .price-box {
      margin-left: 7px;
      display: flex;
      flex-direction: column;

      .op {
        text-decoration: line-through;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.4;

        text-align: left;
        color: #999;
        abbr {
          color: #999;
        }
      }

      .cp {
        // height: fit-content;
        margin-top: -14px;
        font-size: 30px;
        font-weight: 900;
        font-style: normal;
        line-height: 1.43;
        text-align: left;
        color: #1d1d1d;
      }
    }
  }
}
