.itemtable {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.color {
    background: #f8f8f8;
  }

  header {
    margin-top: 110px;
    margin-bottom: 47px;

    h2 {
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: -0.75px;
      text-align: center;
      color: #1d1d1d;
      margin-bottom: 7.3px;
    }

    p {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: -0.4px;
      text-align: center;
      color: #666;
    }
  }
  .more-btn {
    align-self: center;
    width: 380px;
    height: 56px;
    margin: 50px 0;
    padding-right: 15px;

    background-image: url("/asset/images/button/arrow-r.png");
    background-repeat: no-repeat;
    background-position: 80% center;
    background-size: 16px;

    border-radius: 50px;
    border: 1px solid #e1e1e1;

    color: #333;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    &.color {
      background-color: #f8f8f8;
    }
  }
}

.itemtable-nav {
  margin-bottom: 50px;
  ul {
    display: flex;
    height: 45px;
    justify-content: center;
    > li {
      border: solid 1px #e1e1e1;
      width: 173px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 100%;
        height: 100%;

        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;

        text-align: center;
        color: #666;
      }
    }

    > li.on {
      background-color: #0071e3;

      button {
        color: #fff;
        font-weight: 500;
      }
    }
  }
  &.point-nav {
    margin-bottom: 0;
  }
}
.card-item {
  .image-box {
    min-width: 120px;
    height: 60px;
    margin: 0 auto;
  }
  h3 {
    margin-top: 14.7px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;

    text-align: center;
    color: #999;
  }

  p {
    margin-top: 1.7px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.82;

    text-align: center;
    color: #1d1d1d;
    white-space: nowrap;
  }
}
.table-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 29px;

  width: 1200px;

  &.point-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    padding: 50px 50px 0 50px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    min-height: 442px;
    li {
      // width: 100%;
      // border: none;
      // margin: 10px 10px 50px 10px;
      // .image-box {
      //   margin-top: 0;
      //   width: 198px;
      //   // height: 120px;
      //   padding: 60px 0;
      //   border-radius: 10px;
      //   border: solid 1px #e1e1e1;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   // > img {
      //   // width: 120px;
      //   // object-fit: contain;
      //   // }
      // }
    }
  }
  &.hotdeal-list {
    grid-template-columns: repeat(4, 1fr);
    > li {
      width: 262px;
      cursor: pointer;
      border: none;

      .image-box {
        width: 250px;
        height: 250px;
        border-radius: 10px;

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        display: -webkit-box;
        overflow: hidden;

        font-size: 18px;
        line-height: 1.56;
        text-align: left;
        color: #1d1d1d;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
