@use "./_common/_variable";

.pagination-con {
  @mixin paginate-btn($imagePosition) {
    background: url("/asset/images/paging/paginate_"+$imagePosition+".png") center center no-repeat;
  }

  $pageBtnSize : 45px;
  
  display: flex;
  margin: 40px 0;
  justify-content: center;

  .pagination-list {
    display: flex;
    margin: 0 15px;
    li {
      align-items: center;
      justify-content: center;
      width: $pageBtnSize;
      height: $pageBtnSize;
      &.on {
        position: relative;
        font-weight: 700;
        color: #333;

        &::after{      
          content: "";
          clear: both;
          display: block;
          position: relative;
          bottom: 3px;
          left: 50%;
          width: 18px;
          border-bottom: 1px solid #333;
          transform: translateX(-50%);
        }
      }
      > button {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .paginate_btn{
    display: block;
    width: $pageBtnSize;
    height: $pageBtnSize;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    @include variable.ir-pm;
    
    &-first{
        @include paginate-btn("first");
    }
    &-prev{
        @include paginate-btn("prev");
    }
    &-next{
        @include paginate-btn("next");
    }
    &-last{
        @include paginate-btn("last");
    }
    
  }
}
