.ps-detail-product-table {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto 100px;

  .ps-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    li{
      padding:15px;

      .img{
        img{
          width: 100% !important;
          height: auto !important;
        }  
      }

      p{    
        font-size: 16px;
        color: #999;
        font-weight: 500;
        line-height: 1.5;
        
        &:nth-child(3) {
          color: #1d1d1d;
        }
      } 
    }
  }
}

@media (max-width: 900px) {
  .ps-detail-product-table {
    .ps-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 769px) {
  .ps-detail-product-table {
    .ps-list {
      grid-template-columns: repeat(2, 1fr);
      
      li{
        padding:10px;

        p{    
          font-size: 12px;
        } 
      }
    }
  }
}