@use "./_common/reset";
@use "./_common/_fonts";

@use "./components/topNav.scss";
@use "./components/footer.scss";
@use "./components/itemTable.scss";
@use "./components/banner.scss";

@use "./pages/mainPage.scss";
@use "./pages/authPage.scss";
@use "./pages/customerPage.scss";
@use "./pages/servicePage.scss";


* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
}

// Test Code for Responsive css
body{
  width: 100vw;
  overflow-x: hidden;
}

body>nav{
  overflow-x: hidden;
}